# App
VITE_APP_NAME=CineStream
NODE_ENV=development

# Database
DATABASE_URL=

# Admin Credentials
VITE_ADMIN_USERNAME=pheasa
VITE_ADMIN_PASSWORD=pheasa

# Security
JWT_SECRET=

# AdSense Slots
VITE_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
VITE_ADSENSE_HOME_MID_SLOT=7777777777
VITE_ADSENSE_HOME_BOTTOM_SLOT=8888888888
VITE_ADSENSE_WATCH_SIDEBAR_SLOT=1111111111
VITE_ADSENSE_WATCH_BOTTOM_SLOT=2222222222
VITE_ADSENSE_CATEGORY_MID_SLOT=9999999999
VITE_ADSENSE_CATEGORY_SLOT=0987654321
