# App
VITE_APP_NAME=CineStream
# development, production, test
NODE_ENV=development

# Database
DATABASE_URL=

# Admin Credentials
VITE_ADMIN_USERNAME=
VITE_ADMIN_PASSWORD=

# Security
JWT_SECRET=

# AdSense Slots
VITE_ADSENSE_CLIENT_ID=
VITE_ADSENSE_HOME_MID_SLOT=
VITE_ADSENSE_HOME_BOTTOM_SLOT=
VITE_ADSENSE_WATCH_SIDEBAR_SLOT=
VITE_ADSENSE_WATCH_BOTTOM_SLOT=
VITE_ADSENSE_CATEGORY_MID_SLOT=
VITE_ADSENSE_CATEGORY_SLOT=

# Catbox
CATBOX_USER_HASH=
CATBOX_ALBUM_SHORT=
